@import "partials/_variables";

.about {
  background-color: $lightBlack;

  h3 {
    color: white;
    padding-top: 100px;
    text-align: center;
    font: {
        family: $font;
        size: 17px;
        weight: 700;
      }
      text-transform: uppercase;
  }

  .face-lockup {
    max-width: 700px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 25px;

    .face-img {
      background-color: #ccc;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }

  .blurb {
    color: white;
    strong {
      font-weight: 700;
    }
    max-width: 620px;
    padding: 0 17px 100px;
    text-align: center;
    margin: 40px auto 0 auto;
    font: {
      family: $font;
      size: 24px;
    }
  }
}