@import "partials/_media_queries";

.footer {
  background: url(../images/colorsovercity.jpg) center center;
  background-size: cover;

  .lockup {
    padding: 30px;
  }

  .content-wrap {

    nav {
      a {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        color: rgba(0,0,0,0.7);
        margin-right: 20px;
        font: {
          family: 'Rubik', sans-serif;
          size: 14px;
          weight: 700;
        }
        text-transform: uppercase;

        &:hover {
          color: rgba(0,0,0,1);
        }
      }
    }

    .copyright {
      margin-top: 10px;
      color: white;
      font: {
        family: 'Rubik', sans-serif;
        size: 12px;
      }
      text-transform: uppercase;
    }
  }

}