@import "partials/_media_queries";
@import "partials/_variables";

.header {
  height: 450px;
  background: url(../images/colorsovercity.jpg) center center;
  background-size: cover;

  nav {
    float: right;
    a {
      float: left;
      margin: 30px 30px 0 0;
      display: inline-block;
      margin-left: 20px;
      text-decoration: none;
      cursor: pointer;
      color: $lightBlack;
      font: {
        family: $font;
        size: 17px;
        weight: 700;
      }
      text-transform: uppercase;

      &:hover {
        color: black;
      }
    }
  }

  .title {
    text-align: center;
    margin: 30px 30px;
    color: $lightBlack;
    font: {
      family: $font;
      weight: 700;
    }
    padding-top: 100px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    clear: both;

    span {
      display: inline-block;
      border: 5px solid $lightBlack;
      padding: 0.2em;
    }
  }

  .kicker {
    color: white;
    text-align: center;
    font: {
      family: $font;
      weight: 200;
      size: 14px;
    }
    text-transform: uppercase;
  }
}