@import "partials/_media_queries";
@import "partials/_variables";

.header {
  height: 450px;
  background: url(../images/colorsovercity.jpg) center center;
  background-size: cover;

  .navBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: rgba(0,0,0,0.3);

    h2 {
      display: none;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 40px;
      color: rgb(229, 229, 229);
      font: {
        family: $font;
        size: 50px;
        weight: 700;
      }
    }

    nav {
      padding-bottom: 23px;
      margin-top: -6px;

      li {
        display: inline;

        a {
          float: left;
          margin: 30px 30px 0 0;
          display: inline-block;
          position: relative;
          margin-left: 20px;
          text-decoration: none;
          cursor: pointer;
          color: rgb(229, 229, 229);
          font: {
            family: $font;
            size: 17px;
            weight: 700;
          }
          text-transform: uppercase;

          &:hover {
            color: black;
          }
        }
        a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background: black;
          border-radius: 5px;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }

        a:hover:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }


  .title {
    text-align: center;
    margin: 30px 30px;
    color: $lightBlack;
    font: {
      family: $font;
      weight: 700;
    }
    padding-top: 57px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    clear: both;

    span {
      display: inline-block;
      border: 5px solid $lightBlack;
      padding: 0.2em;
    }
  }

  .kicker {
    color: white;
    text-align: center;
    font: {
      family: $font;
      weight: 200;
      size: 14px;
    }
    text-transform: uppercase;

    @media (min-width: 420px) and (max-width: 520px) {
      font-size: 12px !important;
    }

    @media (max-width: 419px) {
      font-size: 10px !important;
    }
  }

  .mobile-nav-toggle {
    display: none;
    width: 50px;
    height: 50px;
    margin: 7px 23px 7px 0;
    align-items: center;
    cursor: pointer;

    span,
    span:before,
    span:after {
      content: "";
      width: 100%;
      display: block;
      height: 2px;
      background: rgb(229, 229, 229);
      position: relative;

      transition: all 0.3s ease-in-out;
    }

    span:before {
      top: 15px;
    }

    span:after {
      top: -17px;
    }

    &.is-open span {
      background: transparent;
    }

    &.is-open span:before,
    &.is-open span:after {
      transform-origin: center;
      transform: rotate(45deg);
      top: 0;
    }

    &.is-open span:after {
      top: -2px;
      transform: rotate(-45deg);
    }
  }

  .mobile-nav {
    display: none;
    position: absolute;
    width: 100%;
    background: transparent;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      padding: 5px 0 5px 20px;
      cursor: pointer;

      text-decoration: none;
      cursor: pointer;
      color: rgb(229, 229, 229);
      font: {
        family: $font;
        size: 14px;
        weight: 700;
      }
      text-transform: uppercase;
    }
  }
}

@media (max-width: 720px) {
  .navBar {
    justify-content: space-between !important;
    width: auto;
    position: relative;

    h2 {
      display: block !important;
    }

    nav {
      display: none;
    }

    .mobile-nav-toggle {
      display: flex;
    }
  }

  .mobile-nav.is-open {
    display: flex;
    justify-content: flex-start;
    transform: translateY(0%);
    background: rgba(0,0,0,0.3);
    padding-top: 5px;
    padding-bottom: 5px;

    nav {
      width: 100%;

      li:hover {
        background: rgba(0,0,0,0.3);
      }
    }
  }
}