@import "partials/_media_queries";

.projects {

  background: #e5eaee;

  h3 {
    color: black;
    padding-top: 100px;
    text-align: center;
    font: {
        family: $font;
        size: 30px;
        weight: 700;
    }
    text-transform: uppercase;
  }

  .project-wrap {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 40px;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }

    .project-display {
      padding-bottom: 100px;

      @media screen and (max-width: 700px) {
        margin: 0 auto;
        padding-bottom: 30px;
        &:nth-child(2n) {
          padding-bottom: 100px;
        }
      }

      .project-thumb {
        cursor: pointer;
        display: block;
        float: left;
        border: 5px solid white;
        background: {
          size: 100% 100%;
          repeat: no-repeat;
        }
        width: 300px;
        position: relative;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        transition: -webkit-transform 150ms ease-in-out;
        transition: transform 150ms ease-in-out;
        overflow: hidden;

        &:after {
          content: '';
          display: block;
          padding-top: 90%;
        }

        &:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
      .project-meta {
        position: absolute;
        background-color: fade-out($lightBlack, 0.3);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        padding: 40px;
        font-family: 'Fira Sans', sans-serif;
        text-align: center;
        transform: translate(0%, 100%) scale(0.5);
        transition: all 200ms ease-in-out;
        opacity: 0;

        .project-name {
          font-size: 18px;
          text-transform: uppercase;
        }

        .project-description {
          margin-top: 50px;
        }
      }
      .project-thumb:hover .project-meta {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
      }
    }
  }

}