@import "partials/_general_styles";
@import "partials/_clearfix";
@import "partials/_reset";

.header {
  height: 450px;
  background-color: #ccc;
}

nav {
  a {
    display: inline-block;
    margin-left: 20px;
    font: {
      size: 14px;
      weight: 700;
    }
    text-transform: uppercase;
  }
}
