// Partials
@import "partials/_general_styles";
@import "partials/_clearfix";
@import "partials/_reset";

.detail {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin: auto;
  height: 100vh;
  background-color: #2B303B;
}

.navBar {
  display: flex;
  flex-direction: column;
  background-color: #232830;
  width: 200px;
  height: 100%;
}

.navTitle {
  padding: 8px;
  padding-left: 10px;
  margin-bottom: 15px;
  margin-top: 8px;
  color: #65737F;
  font-weight: bold;
}

.navLink-wrapper {
  padding: 8px;
  padding-left: 20px;
  color: #65737F;
  @media (min-width: 768px) and (max-width: 890px) {
    font-size: 14px;
  }
}

.navLink {
  width: fit-content;
  display: inline-block;

  &:hover {
    color: #DFE1DD;
    cursor: default;
  }
}

.footer {
  @media (max-width: 767px) {
    position: relative;
  }
  position: absolute;
  width: 100%;
  align-self: flex-end;
  background-color: #1B1E25;
  color: #4D5964;
  font-size: 17px;
  padding: 10px;
  padding-left: 15px;
}