// Partials
@import "partials/_general_styles";
@import "partials/_clearfix";
@import "partials/_reset";

* {
  box-sizing: border-box;
}

body {
  font-family: Menlo-regular;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#typewriter {
  width: fit-content;
  margin: auto;
  font-size: 40px;
  border-right: .05em solid;
  animation: caret 1.2s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.footer {
  width: 100%;
  padding: 20px;
  align-self: flex-end;
}