.tabBar {
  display: flex;
  flex-direction: row;
  background-color: #1C1F26;
  height: 50px;
  width: 100%;
}

.tab {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
  margin-right: 55px;
  color: #65737F;

  &:nth-child(1) {
    margin-left: 10px;
  }

  &:hover {
    color: #BBC0C8;
  }
}