.tabContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabBar {
  display: flex;
  flex-direction: row;
  background-color: #1C1F26;
  height: 8%;
  width: 100%;
}

.tabWrapper {
  display: flex;
  flex-direction: row;
  cursor: default;

  &:hover .exit {
    visibility: visible !important;
  }

  &:hover .tab {
    color: #BBC0C8;
  }
}

.tab {
  display: flex;
  align-items: flex-end;
  padding: 0px 40px 15px 12px;

  &:nth-child(1) {
    padding-left: 10px;
  }
}

.selectedTab {
  display: flex;
  align-items: flex-end;
  padding: 0px 40px 15px 12px;

  &:nth-child(1) {
    padding-left: 10px;
  }
}

.line-title {
  padding: 0px 35px;
  margin-right: 10px;
  color: #767B85;
  background-color: #2B303B;
}