.file {
  width: 100%;
  height: 100%;
  font-size: 25px;
  padding-bottom: 27px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .info {
    display: inline-block;
    color: #DEE0DC;
  }

  .line {
    display: inline-block;
    padding: 0px 35px;
    margin-right: 10px;
    color: #767B85;
  }

  .infoWrapper:nth-child(1) {
    .line {
      background-color: #353C47;
    }
  }
}

.about, .projects, .contact, .readme {
  @extend .file;
}

.about .colon {
  color: #DEE0DC !important;
}

.readme span{
  font-size: 35px;
  color: #DEE0DC !important;
}

.projects {
  font-size: 18px;

  .infoWrapper:nth-child(n+10) {
    .line {
      padding-left: 24px;
    }
  }
}

.contact, .about {
  .infoWrapper:nth-child(n+10) {
    .line {
      padding-left: 20px;
    }
  }
}