div(id="about" class="about")
  h3.or-divider About Me
  .face-lockup
    .face-img
  .blurb
    p
      strong Hi my name is Javen Nakamoto.
      |  I recently graduated from the University of Hawaii at Manoa with Computer Engineering Bachelor's degree. I am a Full-Stack Javascript developer that is fascinated with engineering technology. I am excited about opportunities to gain more practical knowledge and experience.