div(id="about" class="about")
  h3 About Me
  .face-lockup
    .face-img
  .blurb
    p
      strong Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      |  Morbi laoreet nibh sit amet magna venenatis egestas. Sed lobortis elit eu libero cursus imperdiet. Fusce semper erat tristique nulla euismod convallis. Nunc nec ligula vel odio rhoncus dictum. Suspendisse et auctor eros.