div(id="contact" class="contact")
  .contact-container
    h3.or-divider Contact Me
    a(class="bigLink" href="mailto:javenkn7@gmail.com") javenkn7@gmail.com
    .social-buttons
      a(href="https://www.linkedin.com/in/javenkn" class="entypo-linkedin")
      a(href="https://github.com/javenkn" class="fontawesome-github")