div(class="header")
  nav
    a(href="#about") About Me
    a(href="#projects") Projects
    a(href="#contact") Contact
  h1(class="title")
    span Javen Nakamoto
  p(class="kicker") Full-Stack Developer // Computer Engineer