mixin nav-content()
  nav
    ul
      li: a(href="#about") About Me
      li: a(href="#projects") Projects
      li: a(href="#contact") Contact

.header
  .mobile-nav
    +nav-content()

  .navBar
    +nav-content()
    .mobile-nav-toggle
      span
  h1.title
    span Javen Nakamoto
  p.kicker Full-Stack Developer // Computer Engineer
